body{
    background-color: #D9D9D9;  
}

.attendance-items{
    max-width: 680px;
    display: block;
    margin:150px auto;
}

.work-status{
    text-align: center;
    background-color: #C8C8C8;
    border-radius: 50px;
    width: 100px;
    padding: 5px;
    margin: auto;
}

.current-date{
    text-align: center;
    padding: 20px;
    font-size: 26px;
}

.current-time{
    text-align: center;
    margin: 10px;
    font-size: 54px;
    font-weight: bold;
}

.button-wrap{
    text-align: center;
}

.attendance-buttons{
    display: flex;
    justify-content: space-around;
}

.work-button{
    background-color: black;
    color: white;
    font-size: 26px;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 40px;
    cursor: pointer;
}

.rest-button {
    background-color: white;
    color: black;
    font-size: 26px;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 40px;
    cursor: pointer;
    border: none;
}