body{
    background-color: #E7E7E7;
}

.attend-page{
    width: 900px;
    margin: 150px auto;
}

.head-title{
    margin: 50px 0px;
    border-left: solid black 10px;
}

.attend-table{
    background-color: white;
    border-radius:5px;
    width: 100%;
    border-collapse:collapse;
}

.attend-table th{
    border-bottom: 3px solid #E7E7E7;
    padding: 20px 40px;
    color: #737373;
}

.attend-table tr{
    text-align: left;
    margin-left: 30px;
}

.attend-table td {
    padding: 10px 0px;
    border-bottom: 3px solid #E7E7E7;
    text-align: center;
    width: 100px;
    font-weight: bold;
}

.attend-table input{
    width: 70px;
    text-align: center;
}

.attend-table textarea{
    width: 300px;
    height: 50px;
}

.edit-area {
    text-align: right;

    margin-top: 50px;
}

.edit-button {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 30px;
    cursor: pointer;
}

.edit-button__disabled {
    color: grey;
    font-size: 20px;
    padding: 5px 30px;
    cursor: not-allowed;
}

