.register-form{
    width: 680px;
    margin:100px auto;
    display: block;
}

.register-title{
    text-align: center;
    margin: auto;
}

.input-form{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.submit-button{
    width: 100%;
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    padding: 5px 0px;
}

.login-route{
    text-align: center;
    margin: 20px 0px;
}

.login-link{
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}